body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 10px;
}

.score {
    color: #E5E5E5;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h3 {
    color: #FCA311;
}

h1, h2, h3 {
    margin: 5px;
}

input {
    background-color: #14213D;
    height: 150px;
    width: 150px;
    object-fit: scale-down;
    border: 5px solid #E5E5E5;
    border-radius: 50%;
    padding: 10px;
}

.player input:hover {
    border-color: #FCA311;
}

.selected {
    border-color: #FCA311;
}
